// colors
$sw-bg-color: #fcfcfc;
$sw-primary-heading: #551a8b;
$sw-accent: black;

// font stuff
$sw-serif: 'Crimson Text';
$header-mono: 'Fira Mono';
$sw-font-size: 22px;

// size stuff
$sw-max-width: 900px;
$sw-padding: 0px 5px 0px 5px;
$square-height: 50px;
